<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

    <style>
    table {
        border-collapse: collapse;
        border: 1px solid black;
    }
  
    th, td {
        border: 1px solid black;
        padding: 8px;
    }
    </style>
    <h1>Dashboard</h1>
    <table>
        <caption>Most frequent user</caption>
        <tr>
            <td>Username</td>
            <td th:text="${client.username}"></td>
        </tr>
        <tr>
            <td>Loans</td>
            <td th:text="${clientloans}"></td>
        </tr>
    </table>
    <table>
        <caption>Most frequent videogame</caption>
        <tr>
            <td>Title</td>
            <td th:text="${videogame.title}"></td>
        </tr>
        <tr>
            <td>Loans</td>
            <td th:text="${videogameloans}"></td>
        </tr>
    </table>
    <table>
        <caption>Today loans</caption>
        <thead>
            <th>ID</th>
            <th>Loan date</th>
            <th>Return date</th>
            <th>Status</th>
            <th>Videogame</th>
            <th>Unit</th>
            <th>Client</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr th:each="loan : ${loans}">
                <td th:text="${loan.id}"></td>
                <td th:text="${#dates.format(loan.loanDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(loan.returnDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${loan.status}">
                </td>
                <td>
                    <a
                        th:href="@{/videogames/edit/{id}(id=${loan.videogameUnit.videogameTitle.id})}"
                        th:text="${loan.videogameUnit.videogameTitle.title}">
                    </a> 
                </td>
                <td th:text="${loan.videogameUnit.id}"></td>
                <td>
                    <a
                        th:href="@{/clients/edit/{id}(id=${loan.client.id})}"
                        th:text="${loan.client.username}">
                    </a> 
                </td>
                <td th:if="${!loan.status}">
                    <form method="post" th:action="@{/loans/return/{id}(id=${loan.id})}">
                        <button type="submit">Return</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

    <a th:href="@{/videogames/}">Videogames</a>
    <a th:href="@{/clients/}">clients</a>
    <a th:href="@{/loans/}">loans</a>
    <a th:href="@{/directors/}">directors</a>
    <a th:href="@{/producers/}">producers</a>
    <a th:href="@{/platforms/}">platforms</a>
</body>

