<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Loans</title>
</head>
<body>
    <h1>Loans</h1>
     <h2>New loan</h2>
    <form method="post" th:action="@{/loans}">
        <label for="loandate">Loan date: </label>
        <input type="date" id="loandate" name="loandate" required ><br>
        
        <label for="returndate">Return date: </label>
        <input type="date" id="returndate" name="returndate" required ><br>
        
        <label for="videogame">Videogame</label>
        <select id="videogame" name="videogame.id" required >
            <option value="">Select a videogame</option>
            <option
                th:each="videogame : ${videogames}"
                th:value="${videogame.id}"
                th:text="${videogame.title}">
            </option>
        </select><br>
        
         <label for="client">client:</label>
        <select id="client" name="client.id" required >
            <option value="">Select a client</option>
            <option
                th:each="client : ${clients}"
                th:value="${client.id}"
                th:text="${client.username}">
            </option>
        </select><br>
        <button type="submit">Create</button>
    </form> 
    <h2>All loans</h2>
    <table>
        <thead>
            <th>ID</th>
            <th>Loan date</th>
            <th>Return date</th>
            <th>Status</th>
            <th>Videogame</th>
            <th>Unit</th>
            <th>Client</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr th:each="loan : ${loans}">
                <td th:text="${loan.id}"></td>
                <td th:text="${#dates.format(loan.loanDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(loan.returnDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${loan.status}">
                </td>
                <td>
                    <a
                        th:href="@{/videogames/edit/{id}(id=${loan.videogameUnit.videogameTitle.id})}"
                        th:text="${loan.videogameUnit.videogameTitle.title}">
                    </a> 
                </td>
                <td th:text="${loan.videogameUnit.id}"></td>
                <td>
                    <a
                        th:href="@{/clients/edit/{id}(id=${loan.client.id})}"
                        th:text="${loan.client.username}">
                    </a> 
                </td>
                <td th:if="${!loan.status}">
                    <form method="post" th:action="@{/loans/return/{id}(id=${loan.id})}">
                        <button type="submit">Return</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

   </body>
</html>
